# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.json

# Virtual environments
.venv/
env/
venv/

# Playwright user data
pw_user_data/

# Env files with secrets
*.env
!*.env.example   # keep example configs

# IDE files
.idea/
.vscode/