HEADLESS=true                               # Run in headless mode (no GUI)

EG_EMAIL="{Your Epic Games email}"
EG_PASSWORD="{Your Epic Games password}"

PG_EMAIL="{Your Prime Gaming email}"
PG_PASSWORD="{Your Prime Gaming password}"