HEADLESS=true                               # Run in headless mode (no GUI)

EG_EMAIL="{Your Epic Games email}"
EG_PASSWORD="{Your Epic Games password}"

PG_EMAIL="{Your Prime Gaming email}"
PG_PASSWORD="{Your Prime Gaming password}"

# Optional settings
DISCORD_WEBHOOK_URL="{Your Discord webhook URL}"  # Webhook URL to send notifications to Discord
TELEGRAM_BOT="{Your Telegram bot token}"  # Telegram bot token
TELEGRAM_CHAT_ID="{Your Telegram chat ID}"  # Telegram chat ID to send messages

DISCORD_NOTIFY_EVERYONE=true          # Enable/disable @everyone mention in Discord notifications
NOTIFY_ON_DISCORD=true                  # Enable/disable Discord notifications
NOTIFY_ON_TELEGRAM=false                # Enable/disable Telegram notifications
NOTIFY_ON_EMAIL=false                   # Enable/disable email notifications

